.mediaViewInfo {
	--web-view-name: AndonNight;
	--web-view-id: AndonNight;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: AndonNight;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#AndonNight {
	position: absolute;
	width: 1280px;
	height: 2879px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: AndonNight;
	--web-view-id: AndonNight;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#background-g3b9c6eeff_1280 {
	opacity: 0.748;
	position: absolute;
	width: 3838px;
	height: 2879px;
	left: -97px;
	top: 0px;
	overflow: visible;
}
#lantern-g751dab37e_1280 {
	position: absolute;
	width: 1280px;
	height: 853px;
	left: 0px;
	top: 192px;
	overflow: visible;
}
#Text {
	left: 63px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 313px;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-style: normal;
	font-weight: normal;
	font-size: 78px;
	color: rgba(112,112,112,1);
}
#n_____ {
	left: 88px;
	top: 1809px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-style: normal;
	font-weight: normal;
	font-size: 78px;
	color: rgba(112,112,112,1);
}