.bg-image {
    background-image: url(bg_a.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed; 
}
.bg-bg {
    height: 2000px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  } 
.h1{
    color: rgba(0, 0, 0,1);
    display: grid;
    place-items: center;
    font-family: "Hannari";
    font-size: 525%;
}
.h2{
    color: rgba(0, 0, 0,1);
    display: grid;
    font-family: "Hannari";
    font-size: 125%;
    padding-left: 150px;
}
