.h-image{
    background-image: url(lantern-g751dab37e_1280.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    width: 100vw;
    height: 75px;
    vertical-align: bottom;
    }
.bg-image {
    background-image: url(bg_a.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    width: 100vw;
    vertical-align: bottom;
}
.bg-bg {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  } 
.h1{
    color: rgb(247,148,40);
/*     display: grid; */
    place-items: center;
    font-family: "Hannari";
    font-size: 525%;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 20px rgba(255,255,0,1);
	background-color: #09152f;
	
}
.h2{	
    border-bottom: 1px solid #f0bdc4; /*midashi */
    color: #ff99ac;
    display: inline-block;
    padding: 10px 10px 10px 70px;
    position: relative;
    display: grid;
    font-family: "Hannari";
    font-size: 125%;
/*     padding-left: 20px; */
    text-align: left;
	letter-spacing: 5px;
    }
.h2:before {
	background-color: #ff6a88; /* 円1 */
	border-radius: 50%;
	content: '';
	display: block;
	position: absolute;
	top: 0px;
	left: 10px;
	width: 25px; /* 円1幅 */
	height: 25px; /* 円1高さ */
	box-shadow: 25px 10px 0px #ff6a88, /* 円2位置・色 */
			 3px 25px 0px #ff6a88; /* 円3位置・色 */
}
.h2:after {
	border: 4px solid #fff; /* 白抜き円 */
	border-radius: 50%;
	content: '';
	display: block;
	position: absolute;
	top: 13px;
	left: 21px;
	width: 15px; /* 白抜き円幅 */
	height: 15px; /* 白抜き円高さ */
}
.h3{
    color: rgba(0, 0, 0,1);
    display: grid;
    font-family: "Hannari";
    font-size: 125%;
    padding-left: 20px;
    text-align: left;
    letter-spacing: 5px;
}
